:host {
    display: block;
    margin-top: 12px;
  
    div.svgWrapper {
      display: block;
      width: 100%;
      height: 100%;
    }
  
    svg {
      display: block;
      width: 100%;
      height: 100%;
  
      g.g-arcs {
        g.g-arc {
        }
      }
    }
  }