.nb-theme-default nb-card{
    border: none !important;
}

::ng-deep.nb-theme-default nb-route-tabset .route-tab.active .tab-link::before {
    background-color: none;
}

::ng-deep.nb-theme-default nb-tabset nb-tab{
    padding: 0 !important;
    
}

::ng-deep.nb-theme-default nb-tabset .tab-link{
    text-transform: none !important;
}
// ::ng-deep.nb-theme-default li{
//     margin-right: 2px !important;
// }