<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <span>Customer Profile Update</span>
                <a nbButton style="float: right;" size="tiny" [status]="'danger'" (click)="dismiss()"> <span>X</span></a>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>