.levelFontDesign{
    font-size: 11px;
    font-weight: 600;
    opacity: 0.7;
    font-family: arial;
}

.levelFontDesignPersonal{
    font-size: 11px;
      font-weight: 600;
      margin-top: 8%;
      opacity: 0.7;
      font-family: arial;
  }

  .levelTextFontDesignPersonal{
    width: 100%;
    font-size: 0.9375rem;
    font-weight: 600
  }

  .lifeStyleTab {
    padding-left:0px;
    padding-right:0px;
  }

  .levelFontDesignPersonalView{
    font-size: 11px;
      font-weight: 600;
      margin-top: 4%;
      opacity: 0.7;
      font:bold;
      font-family: arial;
  }
  .checkboxpadding{
    padding-top: 10%;
  }

  .strightLine{
    border-left: 2px solid rgb(134, 129, 129);
  }