<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <ngx-meet-greet-chart></ngx-meet-greet-chart>
      </nb-card-body>
    </nb-card>
    
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <ngx-pick-drop-chart></ngx-pick-drop-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <ngx-birthday-cake-chart></ngx-birthday-cake-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <ngx-sky-lounge-chart></ngx-sky-lounge-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>