:host /deep/ .ng2-smart-action-multiple-select{
    text-align: center;
}

:host /deep/ .ng2-smart-action-multiple-select > input{
width:12px;
height:12px;
display: unset;
}

.levelFontDesign{
    font-size: 11px;
        font-weight: 600;
        margin-top: 8%;
        opacity: 0.7;
        font-family: arial;
    }

    .levelFontDesign1{
    font-size: 11px;
    font-weight: 600;
    opacity: 0.7;
    font-family: arial;
}

.nb-theme-default nb-card{
    border: none !important;
}

::ng-deep.nb-theme-default nb-route-tabset .route-tab.active .tab-link::before {
    background-color: none;
}

::ng-deep.nb-theme-default nb-tabset nb-tab{
    padding: 0 !important;
    
}

::ng-deep.nb-theme-default nb-tabset .tab-link{
    text-transform: none !important;
}
// ::ng-deep.nb-theme-default li{
//     margin-right: 2px !important;
// }

.levelFontDesign{
    font-size: 11px;
      font-weight: 600;
      margin-top: 8%;
      opacity: 0.7;
      font-family: arial;
  }

  .levelFontDesign1{
    font-size: 11px;
    font-weight: 600;
    opacity: 0.7;
    font-family: arial;
}