<div class="row">
    <div class="col-lg-12">
        <nb-card>
          <nb-card-header>{{_title}} User</nb-card-header>
          <form>

          </form>
          <nb-card-body>
            <form (ngSubmit)="onSaveUser()" [formGroup]="masterForm">
                <!-- <input type="text" nbInput fullWidth placeholder="Full Name"> -->

                <div class="form-group">
                    <input  [(ngModel)]="_user.Name" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': fval.Name.errors }"
                    type="text" fullWidth nbInput shape="semi-round" placeholder="Full Name">

                    <div *ngIf="fval.Name.errors" class="invalid-feedback">
                        <div *ngIf="fval.Name.errors.required">Full Name Required</div>
                    </div>
                </div>
                <!-- <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Description"></textarea> -->

                <div class="form-group">
                    <textarea [(ngModel)]="_user.Description" formControlName="Description" class="form-control" [ngClass]="{ 'is-invalid': fval.Description.errors }"
                    rows="5" name="Address" id ="Address" nbInput fullWidth shape="round" placeholder="Office Address"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">


                            <nb-select [(ngModel)]="_user.ItTeamName" formControlName="ItTeam" [ngClass]="{ 'is-invalid': fval.ItTeam.errors }"
                                        [selected]="_user.ItTeamName" fullWidth shape="semi-round" placeholder="Select IT Team">
                                <nb-option *ngFor="let c of _ItTeams" [value]="c.Value"> {{ c.Name }}</nb-option>
                            </nb-select>
                            
                            <div *ngIf="fval.ItTeam.errors" class="invalid-feedback">
                                <div *ngIf="fval.ItTeam.errors.required"> It Team is required</div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <nb-select [(ngModel)]="_user.OwnerName" formControlName="Owner" [ngClass]="{ 'is-invalid': fval.Owner.errors }"
                                        [selected]="_user.OwnerName" fullWidth shape="semi-round" placeholder="Select an Owner">
                                <nb-option *ngFor="let c of _Owners" [value]="c.Value"> {{ c.Name }}</nb-option>
                            </nb-select>
                            
                            <div *ngIf="fval.Owner.errors" class="invalid-feedback">
                                <div *ngIf="fval.Owner.errors.required"> Owner is required</div>                    
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="width: 100%;">

                        <div class="form-group">
                            <input nbInput [nbDatepicker]="formpicker" [(ngModel)]="_user.StartDate" placeholder="Start Date"
                                formControlName="StartDate" class="form-control" [ngClass]="{ 'is-invalid': fval.StartDate.errors }" >
                            <nb-datepicker #formpicker></nb-datepicker>              
                            <div *ngIf="submitted && fval.StartDate.errors" class="invalid-feedback">
                                <div *ngIf="fval.StartDate.errors.required"> Start Date is required</div>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <input nbInput [nbDatepicker]="formpicker1" [(ngModel)]="_user.EndDate" placeholder="End Date"          
                                formControlName="EndDate" class="form-control" [ngClass]="{ 'is-invalid': fval.EndDate.errors }" >
                            <nb-datepicker #formpicker1></nb-datepicker>              
                            <div *ngIf="submitted && fval.EndDate.errors" class="invalid-feedback">
                                <div *ngIf="fval.EndDate.errors.required"> End Date is required</div>                    
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <input [(ngModel)]="_user.Status"
                    formControlName="Status" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.Status.errors }"
                    type="text" fullWidth nbInput shape="semi-round" placeholder="Status">
                </div>
                <div class="form-group">
                    <button nbButton hero [status]="'primary'" type="submit" style="width:135px;" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">Save</button>
                </div>
            </form>

          </nb-card-body>
        </nb-card>
      </div>
</div>