  <!-- <button [contextMenu]="basicMenu" nbButton status="primary" size="tiny">Request</button>
  <context-menu style="text-decoration:none">
    <ng-template contextMenuItem  style="text-decoration:none">
        <button class="example-menu-item" style="text-decoration:none">Refresh</button>
        <button class="example-menu-item" style="text-decoration:none">Settings</button>
        <button class="example-menu-item" style="text-decoration:none">Help</button>
        <button class="example-menu-item" style="text-decoration:none">Sign out</button>
    </ng-template>
  </context-menu> -->

  <!-- <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Click me!</button>

<ng-template #menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>Refresh</button>
    <button class="example-menu-item" cdkMenuItem>Settings</button>
    <button class="example-menu-item" cdkMenuItem>Help</button>
    <button class="example-menu-item" cdkMenuItem>Sign out</button>
  </div>
</ng-template> -->

<button (click)="showMessage()" nbButton status="primary" size="tiny">Check</button>