@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

nb-sidebar{
  background-color: #2F4050;
}

::ng-deep.nb-theme-default nb-menu .menu-item a.active {
  border-left: 2px solid #3366ff !important;
}

::ng-deep.nb-theme-default nb-menu .menu-item > .menu-items > .menu-item a.active {
  border-left: 2px solid yellow !important;
}

// ::ng-deep.nb-theme-default nb-sidebar.compacted nb-menu .menu-item a.active{
//   background-color: #293846 !important;
// }
