<nb-card>
    <nb-card-header>
        Sub Category
        <!-- {{text}} Vendor -->
        <a nbButton style="float: right;" size="tiny" [status]="'danger'" (click)="dismissfornone()">
            <span>X</span></a>
    </nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="onSaveProduct()" [formGroup]="masterForm">

            <div class="row" style="margin-top: 1%;">
                <div class="col-md-2">
                    <label class="levelFontDesign">Category: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <nb-select [(ngModel)]="product.CatCode" formControlName="cat_code" [ngClass]="{ 'is-invalid': submitted && fval.cat_code.errors }"
                            [selected]="product.CatCode" fullWidth placeholder="Select Category">
                            <nb-option *ngFor="let c of categories" [value]="c.CatCode"> {{ c.CategoryName }}</nb-option>
                        </nb-select>
                        <div *ngIf="fval.cat_code.errors" class="invalid-feedback">
                            <div *ngIf="fval.cat_code.errors.required">Category is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="levelFontDesign">Sub Category: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <nb-select [(ngModel)]="product.SubCatCode" formControlName="subcat_code" [ngClass]="{ 'is-invalid': submitted && fval.subcat_code.errors }"
                            [selected]="product.SubCatCode" fullWidth placeholder="Select Sub Category">
                            <nb-option *ngFor="let sc of subcategories" [value]="sc.SubCatCode"> {{ sc.SubCategoryName }}</nb-option>
                        </nb-select>
                        <div *ngIf="fval.subcat_code.errors" class="invalid-feedback">
                            <div *ngIf="fval.subcat_code.errors.required">Sub Category is Required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 1%;">
                <div class="col-md-2">
                    <label class="levelFontDesign">Product: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input [(ngModel)]="product.ProductName" formControlName="product_name"
                            class="form-control" type="text" fullWidth nbInput [ngClass]="{ 'is-invalid': submitted && fval.product_name.errors }">
                            <div *ngIf="submitted && fval.product_name.errors" class="invalid-feedback">
                                <div *ngIf="fval.product_name.errors.required">Gift Name</div>
                            </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="levelFontDesign">Quantity Type: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <nb-select [(ngModel)]="product.QtyTypeCode" formControlName="qtytype_code" [ngClass]="{ 'is-invalid': submitted && fval.qtytype_code.errors }"
                            [selected]="product.QtyTypeCode" fullWidth placeholder="Select Quantity Type">
                            <nb-option *ngFor="let qt of qtytypes" [value]="qt.QtyTypeCode"> {{ qt.QtyTypeName }}</nb-option>
                        </nb-select>
                        <div *ngIf="fval.qtytype_code.errors" class="invalid-feedback">
                            <div *ngIf="fval.qtytype_code.errors.required">Quantity Type is Required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 1%;">
                <div class="col-md-2">
                    <label class="levelFontDesign">Purchase Rate: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input [(ngModel)]="product.PurchaseRate" formControlName="purchase_rate"
                            class="form-control" type="text" fullWidth nbInput [ngClass]="{ 'is-invalid': submitted && fval.purchase_rate.errors }">
                            <div *ngIf="submitted && fval.purchase_rate.errors" class="invalid-feedback">
                                <div *ngIf="fval.purchase_rate.errors.required">Gift Name</div>
                            </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="levelFontDesign">Product: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input [(ngModel)]="product.SellingRate" formControlName="selling_rate"
                            class="form-control" type="text" fullWidth nbInput [ngClass]="{ 'is-invalid': submitted && fval.selling_rate.errors }">
                            <div *ngIf="submitted && fval.selling_rate.errors" class="invalid-feedback">
                                <div *ngIf="fval.selling_rate.errors.required">Gift Name</div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 1%;">
                <div class="col-md-2">
                    <label class="levelFontDesign">Brand: <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <nb-select [(ngModel)]="product.BrandCode" formControlName="brand_code" [ngClass]="{ 'is-invalid': submitted && fval.brand_code.errors }"
                            [selected]="product.BrandCode" fullWidth placeholder="Select Brancd">
                            <nb-option *ngFor="let b of brands" [value]="b.BrandCode"> {{ b.BrandName }}</nb-option>
                        </nb-select>
                        <div *ngIf="fval.brand_code.errors" class="invalid-feedback">
                            <div *ngIf="fval.brand_code.errors.required">Brand is Required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <input type="file" shape="semi-round" class="filedesign"
                        accept=".jpg, .png, .gif" (change)="onFileChange($event)" multiple>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <!-- <label for="FixtureDesign" class="label">Fixture Design</label> -->
                      <!-- <input type="file" class="custom-file-input" id="customFile" shape="semi-round" name="filename"
                        accept=".jpg, .png, .gif" (change)="onFileChange($event)"> -->
                      <!-- <br />
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" shape="semi-round" name="filename"
                        accept=".jpg, .png, .gif" (change)="onFileChange($event)">
                        <label class="custom-file-label" for="customFile">{{_selectedFileName}}</label>
                      </div> -->
                
                    </div>
                  </div> 
            </div>
            <div class="row">
                <div class="col-md-1" *ngFor="let item of _uploadFiles">
                    <img ngClass="imagedesign" [src]="item.ShowFile" height="50" width="70" *ngIf="_uploadFiles" class="nidImage">
                    <button (click)="deletefile(item)" nbButton hero [status]="'primary'" style="width: 70px; height: 30px; font-size: 12px;" 
                    nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">Delete</button>
                  </div>
            </div>

            <div class="form-group">
                <button nbButton hero [status]="'primary'" type="submit"
                    style="width: 70px; height: 30px; font-size: 12px;" nbSpinnerStatus="danger"
                    nbSpinnerSize="large" nbSpinnerMessage="">Save</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>