<nb-card>
    <nb-card-header>
        <div class="row" style="margin-top: 1%;">
            <div class="col-md-3">
                <span style="margin-right: 2%;">RM List</span>
                <nb-select placeholder="10" [(ngModel)]="defaultRowPerPage">
                    <nb-option (click)="setPager()" value="10">10</nb-option>
                    <nb-option (click)="setPager()" value="20">20</nb-option>
                    <nb-option (click)="setPager()" value="50">50</nb-option>
                    <nb-option (click)="setPager()" value="100">100</nb-option>
                </nb-select>
            </div>
            <div class="col-md-2">
                <input #search class="search" type="text" placeholder="Search..." nbInput shape="semi-round"
                    (keyup)="onSearch(search.value)">
            </div>
            <div class="col-md-1" style="margin-top: 0.35%;">
                <!-- <button *ngIf="roleid == 'R001' || roleid == 'R004'" style="margin-top: 1%;" size="tiny" nbButton status="primary" (click)="approveMultipleBirthday()">Approve</button> -->
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table #table [settings]="settings" [source]="source" (custom)="onCustom($event)">
        </ng2-smart-table>
        <!-- <button (click) = onClick()>save</button> -->
    </nb-card-body>
</nb-card>

<div *ngIf="ismodalopen" class="modal blurcolor bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <ngx-rm-update [_rmFromOther]="rmpass" [textfromother]="display"></ngx-rm-update>
      </div>
    </div>
  </div>