.levelFontDesign{
    font-size: 11px;
      font-weight: 600;
      margin-top: 8%;
      opacity: 0.7;
      font-family: arial;
  }

  .levelFontDesign1{
    font-size: 11px;
    font-weight: 600;
    opacity: 0.7;
    font-family: arial;
}