<!-- <nb-icon (click)="editCustomer()" icon="edit"></nb-icon> -->
<button (click)="editCustomer()" nbButton status="primary" size="tiny">Profile</button>

<!-- <button class="menu-target" status="primary" size="tiny" (click)="editCustomer()"
            nbButton
            [nbContextMenu]="items"
            nbContextMenuTrigger="noop"
            nbContextMenuPlacement="bottom"
            (contextmenu)="open()">
        Profile
</button> -->

<!-- <div class="modal bd-example-modal-xl blurcolor" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <ngx-edit-customer-details [_customerInfo]="value"></ngx-edit-customer-details>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
                  (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
</div> -->