<div class="row">
    <div class="col-md-12">
        <nb-card>
          <!-- <nb-card-header> Add Service</nb-card-header> -->
          <nb-card-header>
            <span>Approval</span>
            <a nbButton style="float: right;" size="tiny" [status]="'danger'" (click)="dismissfornovalue()"> <span>X</span></a>
            <!-- <nb-icon icon="close-square"></nb-icon> -->
        </nb-card-header>
          <form>

          </form>
          <nb-card-body>
            <form (ngSubmit)="approveServiceReq()" [formGroup]="masterForm">
                <div class="row" style="margin-top: 1%;">
                    <div class="col-md-2">
                        <label class="levelFontDesign">Service:</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="servicename" formControlName="servicename" class="form-control" 
                            type="text" fullWidth nbInput placeholder="Service Name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="levelFontDesign">Customer Name:</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="_serviceRequest.cust_name" formControlName="customer_name" class="form-control" 
                            type="text" fullWidth nbInput placeholder="Customer Name">
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-2">
                        <label class="levelFontDesign">Customer Name:</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="_serviceRequest.cust_name" formControlName="customer_name" class="form-control" 
                            type="text" fullWidth nbInput placeholder="Customer Name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label *ngIf="need_recomendation" class="levelFontDesign" style="color: red">Recommended For:</label>
                    </div>
                    <div class="col-md-4">
                        <p *ngIf="limit_status == 'N'" style="margin: 0; font-size: 11px; font-weight: bold; color: red; opacity: 0.7;">Limit Status Issue</p>
                        <p *ngIf="casa_status == 'N'" style="margin: 0; font-size: 11px; font-weight: bold; color: red; opacity: 0.7; margin-top: -2%;">Casa Balance Issue</p>
                        <p *ngIf="fd_status == 'N'" style="margin: 0; font-size: 11px; font-weight: bold; color: red; opacity: 0.7; margin-top: -2%;">FD Balance Issue</p>
                        <p *ngIf="total_status == 'N'" style="margin: 0; font-size: 11px; font-weight: bold; color: red; opacity: 0.7; margin-top: -2%;">Total Balance Issue</p>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-2">
                        <label class="levelFontDesign">CASA Balance:</label>
                    </div>
                    <div class="col-md-4">
                        <!-- <p style="margin: 0; font-size: 11px; font-weight: bold; opacity: 0.7;">{{_serviceRequest.casa_balance}}</p> -->
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="_serviceRequest.casa_bal" formControlName="casa_balance" class="form-control text-right" 
                            type="text" fullWidth nbInput placeholder="Customer Name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="levelFontDesign">FD Balance:</label>
                    </div>
                    <div class="col-md-4">
                        <!-- <p style="margin: 0; font-size: 11px; font-weight: bold; opacity: 0.7;">{{_serviceRequest.fd_balance}}</p> -->
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="_serviceRequest.fd_bal" formControlName="fd_balance" class="form-control text-right" 
                            type="text" fullWidth nbInput placeholder="Customer Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="levelFontDesign">Total Balance:</label>
                    </div>
                    <div class="col-md-4">
                        <!-- <p style="margin: 0; font-size: 11px; font-weight: bold; opacity: 0.7;">{{_serviceRequest.total_balance}}</p>       -->
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="_serviceRequest.tot_bal" formControlName="total_balance" class="form-control text-right" 
                            type="text" fullWidth nbInput placeholder="Customer Name">
                        </div>                  
                    </div>
                    <div class="col-md-2">
                        <label class="levelFontDesign">Customer No:</label>
                    </div>
                    <div class="col-md-4">
                        <!-- <p style="margin: 0; font-size: 11px; font-weight: bold; opacity: 0.7;">{{_serviceRequest.casa_balance}}</p> -->
                        <div class="form-group">
                            <input disabled readonly [(ngModel)]="_serviceRequest.cust_no" formControlName="cust_no" class="form-control" 
                            type="text" fullWidth nbInput placeholder="Customer Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="levelFontDesign">Vendor: <span style="color: red;"> *</span></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <nb-select [(ngModel)]="_serviceRequest.vendor_code" formControlName="vendor_code" [ngClass]="{ 'is-invalid': submitted && fval.vendor_code.errors }"
                                        [selected]="_serviceRequest.vendor_code" fullWidth placeholder="Select Vendor">
                                <nb-option *ngFor="let c of _vendors" [value]="c.vendor_code"> {{ c.vendor_name }}</nb-option>
                            </nb-select>
                            <div *ngIf="submitted && fval.vendor_code.errors" class="invalid-feedback">
                                <div *ngIf="fval.vendor_code.errors.required">Vendor required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="levelFontDesign">Remarks: <span style="color: red;"> *</span></label>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <textarea [(ngModel)]="_serviceRequest.apv_note" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.remarks.errors }"
                            rows="5" name="remarks" id ="remarks" nbInput fullWidth placeholder="Remarks"></textarea>
                            <div *ngIf="submitted && fval.remarks.errors" class="invalid-feedback">
                                <div *ngIf="fval.remarks.errors.required">Note required</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <nb-checkbox status="basic" [(ngModel)]="_testVal" formControlName="_testVal">Basic</nb-checkbox>
                        {{_testVal}}
                    </div> -->
                </div>
                <div class="form-group">
                    <button nbButton hero [status]="'primary'" type="submit" style="width: 70px; height: 30px; font-size: 12px; margin-right: 1%;" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">Approve</button>
                    <button nbButton hero [status]="'danger'" type="button" style="width: 70px; height: 30px; font-size: 12px;" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="" (click)="cancelRequest()">Decline</button>
                </div>
            </form>
          </nb-card-body>
          <!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
        </nb-card>
      </div>
</div>